{{- if and .Values.vpn.enabled .Values.vpn.gluetun.enabled .Values.vpn.gluetun.openvpnConfig }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "rustatio.fullname" . }}-openvpn
  labels:
    {{- include "rustatio.labels" . | nindent 4 }}
stringData:
  config.ovpn: |
    {{- .Values.vpn.gluetun.openvpnConfig | nindent 4 }}
  ca.crt: |
    {{- .Values.vpn.gluetun.ca_crt | nindent 4 }}
  client.crt: |
    {{- .Values.vpn.gluetun.client_crt | nindent 4 }}
  client.key: |
    {{- .Values.vpn.gluetun.client_key | nindent 4 }}
  ta.key: |
    {{- .Values.vpn.gluetun.tls_auth | nindent 4 }}
{{- end }}
