services:
  rustatio:
    image: ghcr.io/takitsu21/rustatio:latest
    container_name: rustatio
    ports:
      - "${WEBUI_PORT:-8080}:8080"
    environment:
      - PORT=8080
      - RUST_LOG=${RUST_LOG:-info}
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - AUTH_TOKEN=${AUTH_TOKEN:-}
    volumes:
      - rustatio_data:/data
      - ${TORRENTS_DIR:-./torrents}:/torrents
    restart: unless-stopped

volumes:
  rustatio_data:
